# git config diff.json.textconv ./.bin/json
*.json diff=json
*.geojson diff=json
*.umap diff=json
# git config diff.sqlite.textconv ./.bin/git-sqldiff
# git config diff.sqlite.command ./.bin/git-sqldiff
# git config diff.sqlite.binary true
*.gpkg diff=sqlite
*.sqlite diff=sqlite
# git config diff.xml.textconv ./.bin/xmldiff
*.qgs diff=xml
*.kml diff=xml
